
.App{
    height: 50%;
    width: 33%;
    background-color: white;
    margin: auto;
    margin-top: 100px;
    padding: 2%;
    border-radius: 5px;
}
body{
  background-color:rgb(212, 208, 208);
  margin: 0 auto;
}

.action {
  margin-top: 4%;
  
}
.butt{
  border-radius: 7px;
  border: 4px solid orange;
  margin-top: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
  background-color: orange;
}
.timer{
  border: 3px solid orange;
  border-radius: 7px;
  text-align: center;

}
.tform{
  margin-top: 5px;
}
.contain{
  margin: 0%;
}
.b{
  background-color: rgb(187, 23, 23);
}
.a{
  background-color: rgb(36, 148, 36);
}
.col{
  color: white;
  border: black 3px solid;
  text-align: center;
  height: 35px;
  border-radius: 5px;
  margin: 2%;
  margin-bottom: 0%;
  margin-top: 4%;
  cursor: pointer;
}
.butt :hover{
  background-color: orange;
}
.Form{
  padding: 5%;
  margin: 0%;
  border-radius: 5px;
  border: 3px solid orange;
}
.modify{
  margin-top: 15px;
}
.row{
  margin: 3px auto;
}
.tdisplay{
  height: 150%;
}
